@use "reset";
@use "variables" as *;
@use "fonts";
@use "mixins" as *;

// blocks
@use "blocks/header";
@use "blocks/main-menu";
@use "blocks/hero";
@use "blocks/features";

// ui
@use "ui/link";
@use "ui/button";

main {
    background-color: $background-color;
    @include text-base;
}