@use "reset";
@use "variables" as *;
@use "fonts";
@use "mixins" as *;

// blocks
@use "blocks/header";
@use "blocks/footer";
@use "blocks/main-menu";
@use "blocks/hero";
@use "blocks/features";
@use "blocks/footer-menu";
@use "blocks/lead-form";

// ui
@use "ui/link";
@use "ui/button";
@use "ui/checkbox";
@use "ui/input";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: $background-color;
    @include text-base;
}