@use "sass:map";
@use "variables" as *;

@mixin text-style($size, $lh: 100%, $ls: 0.01em, $weight: 300) {
  @if map.has-key($text-sizes, $size) {
    font-size: map.get($text-sizes, $size);
  } @else {
    font-size: $size;
  }

  line-height: $lh;
  letter-spacing: $ls;
  font-weight: $weight;
  font-family: $font-main;
  font-style: normal;
}
@mixin text-xxs {
  @include text-style("xxs", 0.875rem);
}
@mixin text-xs {
  @include text-style("xs");
}
@mixin text-sm {
  @include text-style("sm", 1.125rem, 0.03rem);
}
@mixin text-base {
  @include text-style("base", 1.5rem);
}
@mixin text-lg {
  @include text-style("lg");
}
@mixin text-xl {
  @include text-style("xl");
}
@mixin text-2xl {
  @include text-style("2xl", 124%, $weight: $weight-semi-bold);
}
@mixin text-3xl {
  @include text-style("3xl");
}
@mixin text-4xm {
  @include text-style("4xm");
}
@mixin text-4xl {
  @include text-style("4xl");
}
@mixin text-large {
  @include text-style("large", $ls: 0.02em);
}

@mixin media-up($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin media-down($size) {
  @media screen and (max-width: ($size - 1px)) {
    @content;
  }
}

@mixin hide-up($size) {
  @include media-up($size) {
    display: none !important;
  }
}

@mixin hide-down($size) {
  @include media-down($size) {
    display: none !important;
  }
}

.hide-xl {
  @include hide-up($breakpoint-xl);
}

.hide-xl-down {
  @include hide-down($breakpoint-xl);
}

.container {
  width: calc(100% - 40px);
  margin: 0 20px;

  @include media-up($breakpoint-xl) {
    width: 1280px;
    margin: 0 auto;
  }

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.block-title {
  @include text-4xm;

  @include media-up($breakpoint-xl) {
    @include text-large;
  }
}
