@use "sass:map";
@use "variables" as *;

@mixin text-style($size, $lh: 100%, $ls: 0.01em, $weight: 300) {
  @if map.has-key($text-sizes, $size) {
    font-size: map.get($text-sizes, $size);
  } @else {
    font-size: $size;
  }

  line-height: $lh;
  letter-spacing: $ls;
  font-weight: $weight;
  font-family: $font-main;
  font-style: normal;
}

@mixin text-xs {
  @include text-style("xs");
}
@mixin text-sm {
  @include text-style("sm", 1.125rem, 0.03rem);
}
@mixin text-base {
  @include text-style("base", 1.5rem);
}
@mixin text-lg {
  @include text-style("lg");
}
@mixin text-xl {
  @include text-style("xl");
}
@mixin text-2xl {
  @include text-style("2xl", 124%, $weight: $weight-semi-bold);
}
@mixin text-3xl {
  @include text-style("3xl");
}
@mixin text-4xl {
  @include text-style("4xl");
}
@mixin text-large {
  @include text-style("large", $ls: 0.02em);
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
}

.block-title {
  @include text-large;
}
