@use "../variables" as *;
@use "../mixins" as *;

.features {
  padding: $space-xm 0 $space-3xm;
  
  @include media-up($breakpoint-xl) {
    padding: $space-xm 0 $space-3xl;
  }

  &__title {
    width: 100%;
    margin-bottom: $space-xm;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: $space-lg;
  }

  .feature-card {
    display: flex;
    flex-direction: column;
    row-gap: $space-s;
    padding: $space-lg;
    background-color: $white;
    color: $main-color;
    transition:
      color,
      background-color 0.3s ease;
    width: calc(25% - #{$space-lg});
    border-radius: $radius-md;

    @include media-down($breakpoint-xl) {
      width: calc(33.3% - #{$space-lg});
    }

    @include media-down($breakpoint-sm) {
      width: calc(50% - #{$space-lg});
    }

    &__title {
      @include text-2xl;
    }

    &__description {
      color: $font-color;
      line-height: 1.25rem;
    }

    &__icon svg g rect {
      fill: currentColor !important;
      stroke: currentColor !important;
    }

    &:hover {
      color: $white;
      background-color: $main-color;

      .feature-card__title,
      .feature-card__description {
        color: inherit;
      }
    }
  }

  .features__card-expand {
    background-color: $white;
    border-radius: $radius-md;
    padding: $space-ml;
    @include text-base;
    font-weight: $weight-regular;

    .expand-card__header {
      column-gap: $space-s;
    }

    .expand-card__content {
      color: $font-color;
    }
  }
}
