@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.footer-menu {
  @include media-up($breakpoint-xl) {
    display: flex;
    column-gap: $space-3xm;
  }


  @include media-down($breakpoint-xl) {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, max-content));
    column-gap: $space-xxm;

    place-content: space-between;
    grid-template-areas:
      "information services"
      "contacts    services";

    .menu-item:nth-child(1) {
      grid-area: information;
    }
    .menu-item:nth-child(2) {
      grid-area: services;
    }
    .menu-item:nth-child(3) {
      grid-area: contacts;
    }
  }

  .menu-item {
    a {
      @include text-base;
      color: $light-grey;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    &.menu-item-has-children {
      display: flex;
      flex-direction: column;
      row-gap: $space-lg;
    }
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    row-gap: $space-sm;

    @include media-up($breakpoint-xl) {
      flex-wrap: wrap;
      column-gap: $space-3xm;
      max-height: 140px;
    }

    .menu-item {
      a {
        @include text-sm;

        &:hover {
          color: $white;
        }
      }
    }
  }
}
