@use "../variables" as *;
@use "../mixins" as *;

.header {
    background-color: $main-color;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px $space-xs;
    }
    
    &__contacts {
        display: flex;
        align-items: center;
        column-gap: $space-lg;
        color: $white;
    
        .contacts__actions {
            display: flex;
            column-gap: $space-s
        }
    }

    @include media-down($breakpoint-xl) {
        &__contacts, & .main-menu {
            display: none;
        }
    }

    @include media-up($breakpoint-xl) {
        & .burger-menu {
            display: none;
        }
    }
}
