@use "../variables" as *;

.hero {
    background-color: $white;
    &__container {
        position: relative;
        padding: $space-xxm 0;
        display: flex;
        flex-direction: column;
        row-gap: $space-xl;
    }

    &__box {
        position: absolute;
        right: 0;
        top: 0;
        width: 486px;
        height: 252px;
    }
}