@use "../variables" as *;
@use "../mixins" as *;

.form-input {
  @include text-lg;
  width: 100%;
  background-color: $white;
  color: $font-color;
  padding: $space-md $space-xl;
  border-radius: $radius-sm;
  
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;

  &::placeholder {
    color: $font-color;
    opacity: 0.7;
  }

  &:focus {
    border-color: $light-grey;
    box-shadow: 0 0 0 2px rgba($light-grey, 0.1);
  }

  &--error {
    border-color: $main-color;
  }
}

input[type="tel"],
input[type="text"],
input[type="email"] {
  appearance: none;
}