@use '../variables.scss' as *;
@use '../mixins.scss' as *;

.link {
    @include text-base;
    font-weight: $weight-regular;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        opacity: 0.9;
    }
}